:root {
  --background-circle-diameter: 300px;
  --Black: #202020;
  --Black-dark: #000;
  --Red: #ff6961;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(154, 154, 154);
}

.circle-bottom {
  height: var(--background-circle-diameter);
  width: var(--background-circle-diameter);
  background-color: var(--Red);
  border-radius: var(--background-circle-diameter) 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  filter: blur(15px);
}

.circle-top {
  height: var(--background-circle-diameter);
  width: var(--background-circle-diameter);
  background-color: #663a82;
  border-radius: 0 0 var(--background-circle-diameter) 0;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(15px);
}

.trans {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
}

.main {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  height: 90%;
  width: 90%;
  bottom: 5%;
  right: 5%;
  border-radius: 25px;
  display: flex;
}
